.contact__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.contact_container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact__cards {
    padding-top: 15rem;
    padding-left: 25rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.contact__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 2rem;
    padding: 3rem;
    text-align: center;
    transition: var(--transition);


}

.contact__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.email__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}


.phone__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.contact__card small {
    font-size: 0.7rem;
    color: var(--color-light);
}

@media screen and (max-width: 1024px) {
    .contact__container {
        grid-template-columns: 1fr;
        gap: 0;
    }
}

@media screen and (max-width: 1024px) {

    .contact__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .contact__content {
        margin: 1.5rem 0;
    }
}